html, body{
    font-family: Lato;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
#box{
    width: 400px;
    height: 400px;
    background-color: #188734;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 64px;
}

#yearInput{
    margin-top: 40px;
}
.dynamic-ui{
    background-color: black;
    height: 200px;
    width: 200px;
    margin: 5px;
}